@import './Navbar.scss';
@import './Main.scss';
@import './Section.scss';
@import './Section2.scss';
@import './Header.scss';
@import './Data.scss';
@import './Main.scss';
@import './Header.scss';





*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
}