@import './globals.scss';

@mixin name {
    

    $bgcolor : $fav-color;
    color: $primary-one;
    position: absolute;
    font-family: sans-serif;
}

.main{
    background-color:$primary-one;
    height: 100vh;
    position: relative;
    
    h1 {
    top: 6rem;
    background-color: $primary-one;
    color: $fav-color;
    position: absolute;
    font-family: sans-serif;
    right: 36rem;
    }
    h2{
        background-color: $primary-one;
        color:$fav-color;
        position: absolute;
        font-family: sans-serif;
        right: 40rem;
        top: 9rem;

    }
}